body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  
  // line-height: 1.14;
  // background-color:
  // color: getColor('titles');
  // font-size: 14px;
  // font-weight: $font-weight-normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  height: auto;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @media screen and (min-width: 320px) {
      width: 320px;
    }
    @media screen and (min-width: 768px) {
      width: 768px; 
    }
    @media screen and (min-width: 1280px) {
      width: 1280px;
    }
  }

