<section id="advantages" class="advantages-section">
    <div class="container">
        <h2 hidden>advantages</h2>
        <ul class="advantages-section__list">
            <li class="advantages-section__item">
                <div class="advantages-wrapper">
                    <p class="advantages-wrapper__quantity--first">721</p>
                    <p class="advantages-wrapper__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </div>
            </li>
            <li class="advantages-section__item">
                <div class="advantages-wrapper">
                    <p class="advantages-wrapper__quantity--second">16kg</p>
                    <p class="advantages-wrapper__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </div>
            </li>
            <li class="advantages-section__item">
                <div class="advantages-wrapper">
                    <p class="advantages-wrapper__quantity--thirty">84</p>
                    <p class="advantages-wrapper__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </div>
            </li>
        </ul>
    </div>
    
</section>