<section id="location" class="contacts-section">
    <div class="container">
        <h2 hidden>Our Contacts</h2>
        <ul class="contacts-section__card-list">
            <li class="contacts-section__item">
                <div class="contacts-section__category-one">
                    <p class="contacts-section__category--cafe">Cafe</p>
                </div>
                <div class="locations-wrapper">
                    <p class="locations-wrapper__city">Chicago</p>
                    <p class="locations-wrapper__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="work-time-wrapper">
                    <p class="work-time-wrapper__day">Monday - Friday</p>
                    <p class="work-time-wrapper__time">06:00 AM - 10:00 PM</p>
                    <p class="work-time-wrapper__day">Monday - Friday</p>
                    <p class="work-time-wrapper__time">06:00 AM - 10:00 PM</p>
                </div>
                <div class="contacts-wrapper">
                    <a href="tel:+61(0)383766284 " class="contacts-wrapper__link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts-wrapper__link">noreply@envato.com</a>
                </div>
            </li>
            <li class="contacts-section__item">
                <div class="contacts-section__category-two">
                    <p class="contacts-section__category--foodtruck">FOODTRUCK</p>
                </div>
                <div class="locations-wrapper">
                    <p class="locations-wrapper__city">Los Angeles</p>
                    <p class="locations-wrapper__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="work-time-wrapper">
                    <p class="work-time-wrapper__day">Monday - Friday</p>
                    <p class="work-time-wrapper__time">06:00 AM - 10:00 PM</p>
                    <p class="work-time-wrapper__day">Monday - Friday</p>
                    <p class="work-time-wrapper__time">06:00 AM - 10:00 PM</p>
                </div>
                <div class="contacts-wrapper">
                    <a href="tel:+61(0)383766284 " class="contacts-wrapper__link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts-wrapper__link">noreply@envato.com</a>
                </div>
            </li>
            <li class="contacts-section__item">
                <div class="contacts-section__category-one">
                    <p class="contacts-section__category--cafe">Cafe</p>
                </div>
                <div class="locations-wrapper">
                    <p class="locations-wrapper__city">New York</p>
                    <p class="locations-wrapper__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="work-time-wrapper">
                    <p class="work-time-wrapper__day">Monday - Friday</p>
                    <p class="work-time-wrapper__time">06:00 AM - 10:00 PM</p>
                    <p class="work-time-wrapper__day">Monday - Friday</p>
                    <p class="work-time-wrapper__time">06:00 AM - 10:00 PM</p>
                </div>
                <div class="contacts-wrapper">
                    <a href="tel:+61(0)383766284 " class="contacts-wrapper__link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts-wrapper__link">noreply@envato.com</a>
                </div>
            </li>
        </ul>
        <ul class="contacts-section__btn-list">
            <li class="contacts-section__btn-item">
                <button class="contacts-section__btn--red">
                    Our Locations
                    <svg class="contacts-section__icon" width="10" height="10">
                        <use href="../src/images/sprite.svg#arrow-btn-2"></use>
                    </svg>
                </button>
            </li>
            <li class="contacts-section__btn-item">
                <button class="contacts-section__btn--white">
                    Franchise
                    <svg class="contacts-section__icon" width="10" height="10">
                        <use href="../src/images/sprite.svg#arrow-btn-2"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>