<section id="slider" class="customers__section">
    <div class="container">
      <div class="customers__slider">
        <div>
          <picture class="customers__photo">
            <source
              srcset="images/reviews/x1/person1.webp 1x, images/reviews/x2/person1@2x.webp 2x"
              type="image/webp"
            />
            <source srcset="images/reviews/x1/person1.png 1x, images/reviews/x2/person1@2x.png 2x" />
  
            <img src="images/reviews/x1/person1.png" alt="customer photo" />
          </picture>
          <div class="customers__description">
            <p class="customers__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="customers__name">Emily, Los Angeles</p>
        </div>
        <div>
          <picture class="customers__photo">
            <source
              srcset="images/reviews/x1/person2.webp 1x, images/reviews/x2/person2@2x.webp 2x"
              type="image/webp"
            />
            <source srcset="images/reviews/x1/person2.png 1x, images/reviews/x2/person2@2x.png 2x" />
  
            <img src="images/reviews/x1/person2.png" alt="customer photo" />
          </picture>
          <div class="customers__description">
            <p class="customers__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="customers__name">Helena, New York</p>
        </div>
        <div>
          <picture class="customers__photo">
            <source
              srcset="images/reviews/x1/person3.webp 1x, images/reviews/x2/person3@2x.webp 2x"
              type="image/webp"
            />
            <source srcset="images/reviews/x1/person3.png 1x, images/reviews/x2/person3@2x.png 2x" />
  
            <img src="images/reviews/x1/person3.png" alt="customer photo" />
          </picture>
          <div class="customers__description">
            <p class="customers__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="customers__name">Olivia, Brooklyn</p>
        </div>
      </div>
    </div>
  </section>