<footer class="footer">
    <div class="footer-wrap container">
        <div class="footer-title">
            <p class="footer-title__small">
                homemade ice cream made
            </p>
            <p class="footer-title__big">
                with passion
            </p>
        </div>
        <div class="footer__contacts">
            <div class="social">
                <ul class="social__list">
                    <li class="social__item">
                        <a href="https://github.com/" 
                        class="social__link"
                        rel="noopener noreferrer"
                        target="_blank">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="https://web.telegram.org/" 
                        class="social__link"
                        rel="noopener noreferrer"
                        target="_blank">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="https://facebook.com/" 
                        class="social__link"
                        rel="noopener noreferrer"
                        target="_blank">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <address class="footer__address">
                <span class="footer__address--text">
                    Feel free to contact
                </span>
                <a href="tel:+610383766284" class="footer__address--link">+61 (0) 383 766 284</a>
            </address>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="footer__copyright--text">
        &#169;    2019 - IceCream.   All Rights Reserved.
        </div>
    </div>
</footer>