<section class="hero" id="hero">
<div class="container">
    <div class="wrapper">
        <h1 class="hero__title">ice cream made with
         <span class="hero__title--accent">passion</span></h1>
<ul class="primary-button__list">
    <li class="primary-button__item primary-btn--dark">
        <a class="primary-button__link link" href="#products">Products</a>
    </li>
    <li class="primary-button__item primary-btn--light">
        <a class="primary-button__link link" href="#him-section">How it’s made?</a>
    </li>
</ul>
<div class="hero__desc">
    <p class="hero__desc-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et  
    </p>
    <svg class="hero__desc-link-icon">
        <use href="./images/sprite.svg#arrow-right"></use>
      </svg>
</div>
</div>
<div class="bg-group">
    <picture class="bg-group__icecream">
      <source
        srcset="
        ./images/hero/desktop/x1/icecream-desktop.webp   1x,
        ./images/hero/desktop/x2/icecream-desktop@2x.webp 2x
        "
        media="(min-width: 1280px)"
        type="image/webp"
      />
      <source
      srcset="
      ./images/hero/desktop/x1/icecream-desktop.png   1x,
      ./images/hero/desktop/x2/icecream-desktop@2x.png 2x
      "
      media="(min-width: 1280px)"
      type="image/png"
    />
      <source
      srcset="
      ./images/hero/tablet/x1/icecream-tablet.webp   1x,
      ./images/hero/tablet/x2/icecream-tablet@2x.webp 2x
      "
      media="(min-width: 768px)"
      type="image/webp"
    />
    <source
    srcset="
    ./images/hero/tablet/x1/icecream-tablet.png   1x,
    ./images/hero/tablet/x2/icecream-tablet@2x.png 2x
    "
    media="(min-width: 768px)"
    type="image/png"
  />
    <source
    srcset="
    ./images/hero/tel/x1/icecream-tel.webp   1x,
    ./images/hero/tel/x2/icecream-tel@2x.webp 2x
    "
    media="(min-width: 320px)"
    type="image/webp"
  />
  <source
    srcset="
    ./images/hero/tel/x1/icecream-tel.png   1x,
    ./images/hero/tel/x2/icecream-tel@2x.png 2x
    "
    media="(min-width: 320px)"
    type="image/png"
  />
      <img src="./images/hero/tel/x1/icecream-tel.png" alt="icecream-image" />
      </picture>
      </div>
    <div class="bg-group-secondary">
      <ul class="bg-group-secondary__list list ">
        <li class="bg-group-secondary__item">
          <span class="bg-group-secondary__quantity">16</span>
          <span class="bg-group-secondary__weight">cafe</span>
        </li>
        <li class="bg-group-secondary__item">
          <span class="bg-group-secondary__quantity">23</span>
          <span class="bg-group-secondary__weight">food tracks</span>
        </li>
      </ul>
    </div>
      <picture class="hero__bg-milk">
        <source
        srcset="
          ./images/hero/desktop/x1/milk-desktop.webp    1x,
          ./images/hero/desktop/x2/milk-desktop@2x.webp 2x
        "
        media="(min-width: 1280px)"
        type="image/webp"
      />
      <source
      srcset="
        ./images/hero/desktop/x1/milk-desktop.png    1x,
        ./images/hero/desktop/x2/milk-desktop@2x.png 2x
      "
      media="(min-width: 1280px)"
      type="image/png"
    />
    <source
    srcset="
      ./images/hero/tablet/x1/milk-tablet.webp    1x,
      ./images/hero/tablet/x2/milk-tablet@2x.webp  2x
    "
    media="(min-width: 768px)"
    type="image/webp"
  />
  <source
  srcset="
    ./images/hero/tablet/x1/milk-tablet.png    1x,
    ./images/hero/tablet/x2/milk-tablet@2x.png 2x
  "
  media="(min-width: 768px)"
  type="image/png"
/>
<img src="./images/hero/tablet/x1/milk-tablet.png" alt="milk-image" />
</picture>
<picture class="hero__bg-tasty">
    <source
        srcset="
          ./images/hero/desktop/x1/so-tasty-desktop.webp    1x,
          ./images/hero/desktop/x2/so-tasty-desktop@2x.webp 2x
        "
        media="(min-width: 1280px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/hero/desktop/x1/so-tasty-desktop.png    1x,
          ./images/hero/desktop/x2/so-tasty-desktop@2x.png 2x
        "
        media="(min-width: 1280px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/hero/tablet/x1/so-tasty-tablet.webp    1x,
          ./images/hero/tablet/x2/so-tasty-tablet@2x.webp 2x
        "
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/hero/tablet/x1/so-tasty-tablet.png    1x,
          ./images/hero/tablet/x2/so-tasty-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />
      <img src="./images/hero/tablet/x1/so-tasty-tablet.png" alt="milk-image" />
</picture>
</div>
</section>