 <section id="products" class="products">
     <div class="container">
         <p class="products__label">100% natural</p>
         <h2 class="products__title">products</h2>
         <ul class="products__list list">
             <!-- первая карточка  -->
           <li class="products__item">
               <h3 class="products__item-title">ice cream</h3>
               <p class="products__item-information">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
               <div class="products__wraper">
                <div class="products__btn-wraper">
                  <button type="button" class="products__item-btn link">
                    <svg class="products__item-icon">
                      <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
                <div class="overlay">
                    <ul class="overlay__list list">
                        <li class="overlay__item">
                            <a href="#" class="overlay__link link">Pineapple</a>
                        </li>
                        <li class="overlay__item">
                            <a href="#" class="overlay__link link">Pistachios</a>
                        </li>
                        <li class="overlay__item">
                            <a href="#" class="overlay__link link">Strawberry</a>
                        </li>
                        <li class="overlay__item">
                            <a href="#" class="overlay__link link">Banana</a>
                        </li>
                        <li class="overlay__item">
                            <a href="#" class="overlay__link link">Blueberry</a>
                        </li>
                    </ul>
                </div>
                </div>
               </div>
            </li> 
<!-- вторая карточка  -->
            <li class="products__item">
                <h3 class="products__item-title">ice coffee</h3>
                <p class="products__item-information">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <div class="products__wraper">
                 <div class="products__btn-wraper">
                   <button type="button" class="products__item-btn link">
                     <svg class="products__item-icon">
                       <use href="./images/sprite.svg#arrow-right"></use>
                     </svg>
                 </button>
                 <div class="overlay overlay--iced-coffe">
                     <ul class="overlay__list list">
                         <li class="overlay__item">
                             <a href="#" class="overlay__link link">Banana Milk Coffee</a>
                         </li>
                         <li class="overlay__item">
                             <a href="#" class="overlay__link link"> Cappuccino on Ice</a>
                         </li>
                         <li class="overlay__item">
                             <a href="#" class="overlay__link link"> Creamy Iced Coffee</a>
                         </li>
                         <li class="overlay__item">
                             <a href="#" class="overlay__link link">Iced Caramel Macchiato</a>
                         </li>
                         <li class="overlay__item">
                             <a href="#" class="overlay__link link"> Easy Iced Coffee</a>
                         </li>
                     </ul>
                 </div>
                 </div>
                </div>
             </li>

             <!-- третья карточка -->
             <li class="products__item">
                <h3 class="products__item-title">milkshakes</h3>
                <p class="products__item-information">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <div class="products__wraper">
                 <div class="products__btn-wraper">
                   <button type="button" class="products__item-btn link">
                     <svg class="products__item-icon">
                       <use href="./images/sprite.svg#arrow-right"></use>
                     </svg>
                 </button>
                 <div class="overlay overlay--milkshakes">
                     <ul class="overlay__list list">
                         <li class="overlay__item">
                             <a href="#" class="overlay__link link">Banana Milkshake</a>
                         </li>
                         <li class="overlay__item">
                             <a href="#" class="overlay__link link">Vanilla Milkshake</a>
                         </li>
                         <li class="overlay__item">
                             <a href="#" class="overlay__link link">Mango Milkshake</a>
                         </li>
                         <li class="overlay__item">
                             <a href="#" class="overlay__link link">Chocolate Milkshake</a>
                         </li>
                         <li class="overlay__item">
                             <a href="#" class="overlay__link link">Cookies Milkshake</a>
                         </li>
                     </ul>
                 </div>
                 </div>
                </div>
             </li>
            </ul>
     </div>
 </section>